* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
}


#main-header {
    background-color: #FFC107;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section-header {
    background-color: #FFE69B;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.section {
    display:grid;
    grid-template-columns: auto auto;

}